.cfti_actionbutton {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: right top;
    cursor: pointer;
}

.cfti_delgroupbutton {
    background-image: url('../images/delete.png');
}

.cfti_addgroupbutton {
    background-image: url('../images/plus.png');
}

.cfti_deletebutton {
    background-image: url('../images/delete.png');
}

.cfti_savebutton {
    background-color: #451787; 
    margin-left: 350px;
    border: none;
}
	
.cfti_cancelbutton {
    background-color: grey;
    color: white;
    border: none;
    margin-left: 10px;
    padding: 8px;
}

.cfti_savecancel {
    margin-top: 10px;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

